# Paths are absolute or relative to the working directory of the backend process.
EXCEL_FILE_PATH=../data/aging_test.xlsx
SERIAL_NUMBER_REGEX=^T[0-9]{3}R[0-9][A-Z]{3}[0-9]{5}$
CAPTURE_TTL_SECONDS=180
CHECKPOINT_INTERVAL_SECONDS=60

